{% import "_includes/forms" as forms %}

<div id='goldLangCopy' class='pane meta'>
    {{ forms.lightswitchField({
        label: 'Seiten-Inhalte beim Speichern klonen'|t,
        id: 'localeSync-toggle',
        name: 'goldLangCopy[enabled]',
        on: false,
        toggle: '#goldLangCopy-options',
    }) }}
    <div class="meta hidden" id="goldLangCopy-options">
        {# Intentionally passing non-empty array to uncheck "all" #}
        {{ forms.radioGroupField({
            label: "Ziel-Sprache:"|t,
            id: 'localeSync-targets',
            name: 'goldLangCopy[targets]',
            options: craft.goldLangCopy.getLocaleInputOptions(null, [localeId]),
            values: [''],
        }) }}
    </div>
</div>
